.Wrapper {
  display: flex;
  position: relative;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.TextInput {
  display: flex;
  min-width: 80%;
  max-width: 80%;
  padding: 0.5rem;
  align-items: center;
  justify-content: start;
  border: 1px solid #000;
  border-radius: 5px;
  min-height: 2rem;
  max-height: 2rem;
  .Placeholder {
    color: #888;
  }
  .Input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    overflow: hidden;
  }
}
